<%- include('header'); -%>
<div class="content">
  <h1 id="contact">Contacts</h1>
  <h3>Phone Number: +44 (0)131 451 3324</h3>
  <h3>Enquiries: enquiries@macs.hw.ac.uk</h3>
  <h3>Twitter: <a href="twitter.com/macshw">twitter.com/macshw</a> </h3>
  <h3>Website: <a href="www.macs.hw.ac.uk/home">www.macs.hw.ac.uk/home</a></h3>
</div>
<%- include('footer'); -%> 