<%- include('header'); -%>
<div class="content">
  <h1 id="contact">Contacts</h1>
  <h3>Phone Number: +44 (0)131 451 3324</h3>
  <h3>Enquiries: enquiries@macs.hw.ac.uk</h3>
  <h3>Twitter: twitter.com/macshw </h3>
  </div>
<%- include('footer'); -%> 